@import "@styles/variables.scss", "@styles/mixins.scss";

.skeleton-playlist {
	width: 200px;
	height: 200px;
	background-color: $purple-skeleton-light;
	display: grid;
	place-items: center;
	border-radius: 10px;
	position: relative;
	.skeleton--thumbnail-big {
		margin-bottom: 45px;
		margin-top: 0;
	}
	.skeleton--thumbnail-mini {
		position: absolute;
		bottom: 5px;
		left: 25px;
	}
}
