@import "@styles/variables.scss", "@styles/mixins.scss";

.playlist {
	width: 100%;
	display: grid;
	place-items: center;
	padding: 15px;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	gap: 20px;
	&__item {
		width: 200px;
		height: 200px;
		display: grid;
		place-items: center;
		box-shadow: $shadow-md;
		border-radius: $rounded-2xl;
		margin: 10px;
		&-link {
			width: 100%;
			height: 100%;
			color: $black;
			@include flex($direction: column);
			position: relative;

			.playlist-image {
				margin-bottom: 30px;
				img {
					width: 100px;
				}
			}
			.playlist-title {
				margin-bottom: 8px;
			}
			.playlist-followers {
				color: $purple-dark;
				font-size: 1.4rem;
				@include flex();
				position: absolute;
				bottom: 15px;
				left: 20px;
				svg {
					width: 20px;
					height: 18px;
					margin-right: 5px;
					path {
						fill: $purple-light;
					}
				}
			}
		}
	}
}
