@import "@styles/variables.scss", "@styles/mixins.scss";

.tracks__item {
	width: 280px;
	height: 50px;
	font-size: 1.5rem;
	@include flex($justify: flex-start);
	user-select: none;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;

	&-position {
		position: absolute;
		left: -15px;
		font-weight: 600;
		display: block;
		width: 16px;
		text-align: right;
	}
	&-album-cover {
		position: relative;
		width: 40px;
		height: 40px;
		margin-left: 10px;
		@include flex();
		img {
			position: absolute;
			width: 40px;
		}
	}
	&-info {
		width: 200px;
		padding: 0 15px;

		span {
			display: block;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.song {
			font-weight: 600;
		}
		.artist {
			font-size: $font-text-small;
		}
	}
}
