@import "../styles/variables.scss";

.App {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
}
/* PAGE SIGIN */
.signin {
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 10px 10%;
	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 20px 0;
	}
	&__btn span {
		padding: 8px;
	}
	&__welcome {
		h2 {
			font-size: 4rem;
			text-align: end;
			font-weight: 800;
		}
		&--purple {
			color: $purple-dark;
		}
		img {
			width: 90%;
			margin-right: 10%;
		}
	}
}

/* PAGE HOME */

.home {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
