@import "./variables.scss", "./mixins.scss";
:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: $coconut-light;
	font-size: $font-text-base;
	color: $black;
}
a {
	font-weight: 500;
	color: $purple-dark;
	text-decoration: inherit;
}
li {
	list-style: none;
}

#root {
	width: 100vw;
	@include flex($justify: space-between, $direction: column);
}
/* PAGE SIGNIN */
.signin {
	width: 80%;
	min-height: calc(100vh - 95px);
	margin: 0 10%;
	@include flex($direction: column);
	&__welcome {
		@include flex($direction: column);
		&-title {
			font-size: $font-title;
			text-align: end;
			font-weight: 800;
			@include from($medium) {
				font-size: $font-title-big;
			}
			&--purple {
				color: $purple-dark;
			}
		}
		&-img {
			width: 90%;
			margin-right: 10%;
			@include from($medium) {
				width: 50%;
				margin-right: 0;
			}
		}
	}
	&__btn {
		margin: 20px 0;
		@include flex($direction: column);
		span {
			padding: 8px;
		}
	}
}

.tracks {
	width: 100%;
	margin-top: 10px;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr;
	@include from($medium) {
		grid-template-columns: 1fr 1fr;
	}
}

.no-scroll {
	overflow: hidden;
}
