@import "./variables.scss";
:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: $coconut-light;
	font-size: 1.6rem;
}
a {
	font-weight: 500;
	color: $purple-dark;
	text-decoration: inherit;
}
