/* Breakpoints */
$small: 440px; /*-------- Mobile devices*/
$s-medium: 570px; /*-------- Tablet devices*/
$medium: 768px;
$large: 960px;
$x-large: 1060px; /*-------- Desktop devices*/
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;

/*Colors - Static*/
$white: #ffffff;
$black: #292929;
$coconut-light: #f9f9f9;
$purple-light: #646cff;
$purple-dark: #4f57e9;

$purple-state--active: #999de4;
$purple-state--inactive: #c8caee;

$vite-purple: #a360fb;
$vite-blue: #4fcbfc;
$vite-yellow: #fecb3e;

/*Font Size*/
$font-title-big: 4rem;
$font-title: 3rem;
$font-subtitle: 2.2rem;
$font-text-big: 1.8rem;
$font-text-base: 1.6rem;
$font-text-small: 1.4rem;

/* Z-index */
$z-back: -1;
$z-none: 0;
$z-floor: 1;
$z-medium: 10;
$z-up: 50;
$z-top: 100;
$z-super: 200;
