@import "@styles/variables.scss", "@styles/mixins.scss";

.menu {
	@include flex($direction: column);
	background-color: $purple-light;
	width: 100vw;
	height: 100vh;
	padding: 2rem;
	position: fixed;
	top: 0;
	left: 0;
	transition: transform 0.3s ease-in-out;
	transform: translateX(100vw);
	z-index: $z-up;

	&__profile-picture {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		border: 2px solid $purple-dark;
	}
	@include from($medium) {
		@include flex($direction: row);
		width: auto;
		height: 50px;
		background: none;
		position: inherit;
		transform: none;
		transition: none;
		padding: 0;
		& > * {
			margin-right: 10px;
			margin-left: 10px;
		}
	}
}

header .menu.menu-open {
	transform: translateX(0);
}
