@import "@styles/variables.scss", "@styles/mixins.scss";

.audio-progress-bar {
	width: 100%;
	height: 10px;
	position: absolute;
	top: 50px;
	&__content {
		height: 100%;
		background-color: $vite-yellow;
		transition: width 1s;
	}
}
