@import "../../styles/variables.scss";

.player {
	width: 40px;
	height: 40px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	margin-left: 10px;

	&__play-icon {
		position: absolute;
		margin-left: 2px;
		background-color: transparent;
		width: 20px;
		height: 22px;
		border-radius: 2px;
		border-style: solid;
		border-width: 10px 0 10px 20px;
		border-color: transparent transparent transparent #f9f9f9ab;

		cursor: pointer;
		transition: 100ms border-width ease;
		&--pause {
			border-color: transparent transparent transparent $purple-light;
			border-style: double;
			border-width: 0 0 0 20px;
			margin-left: 0;
		}
	}
	img {
		position: absolute;
		width: 40px;
	}
}
