@import "../../styles/variables.scss";

.button-fav {
	width: 30px;
	height: 30px;
	border: none;
	display: grid;
	place-content: center;
	svg {
		width: 20px;
		height: 18px;
		fill: none;
	}
	path {
		fill: $purple-light;
		stroke: $purple-light;
	}
}
