@import "../../styles/variables.scss", "../../styles/mixins.scss";

.tracks__item {
	list-style: none;
	width: 100%;
	height: 50px;
	font-size: 1.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	user-select: none;
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;

	&-position {
		position: absolute;
		left: -15px;
		font-weight: 600;
		display: block;
		width: 16px;
		text-align: right;
	}
	&-info {
		width: 200px;
		padding: 0 15px;
		@include from($small) {
			width: calc(80vw - 100px);
		}
		@include from($large) {
			width: calc(70vw - 100px);
		}
		span {
			display: block;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.song {
			font-weight: 600;
		}
		.artist {
			font-size: 1.3rem;
		}
	}
}
