@import "../../../styles/variables.scss";

.button-fav {
	width: 30px;
	height: 30px;
	border: none;
	display: grid;
	place-content: center;
	background-color: transparent;
	&--isFav {
		fill: $purple-light !important;
	}
	svg {
		width: 20px;
		height: 18px;
		path {
			fill: none;
			stroke: $purple-light;
		}
	}
}
