@import "../../styles/variables.scss";

.header {
	background-color: $purple-light;
	color: $white;
	width: 100%;
	height: 50px;
	padding: 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	&__link--home {
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		&-logo {
			width: 25px;
		}
	}
	&__link--profile {
		height: 38px;
		width: 38px;
	}
	h1 {
		font-size: 2.1rem;
		padding-left: 10px;
		font-weight: 400;
	}
	&__profilePicture {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		border: 2px solid $purple-dark;
	}
	&__user {
		display: flex;
		justify-content: center;
		align-items: center;
		button svg path {
			fill: $white;
			stroke: $white;
		}
	}
}
